---
import '../styles/global.css';

interface Props {
  title?: string;
  description?: string;
}

const {
  title = 'WEBDEV',
  description = 'Astro and Tailwind CSS web application',
} = Astro.props;
---

<!doctype html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
